.loader {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.loader svg {
    transform: scale(2);
}

.loader svg path,
.loader svg rect {
    fill: #ff6700;
}